:root{
    --mainC:hsl(0, 0%, 92%);
    --primaryC:hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
}
body{
    background-color: var(--mainC) !important;
    font-family:  "Nunito Sans";
}
body.dark{
    background-color:  hsl(209, 23%, 22%) !important;
    color: white;
}
nav.light-dark ,.box.light-dark,.filter-by-region ul.light-dark ,.filter-head.light-dark{
    background-color:  hsl(207, 26%, 17%) !important;
}

.box.box-dark{
   box-shadow: 0 0 5px #1c1717 !important; 
   background-color:  hsl(207, 26%, 17%) !important;
  
}
nav{
    background-color: white;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
}
nav .switch-theme{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: hsl(207, 26%, 17%)
}
nav .switch-theme.bColor{
    background-color: white;
    color: hsl(207, 26%, 17%);
}
nav .switch-theme .hidden{
    display: none;
}
/* content............................................... */
.main-page .content header  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}
.main-page header .search-by-name #search{
    padding: 10px;
    font-size: 17px;
    background-color: var(--primaryC);
    border: none;
}  
.main-page header .filter-by-region{
    position: absolute;
    top: 0;
    right: 6px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    height: 50px;
}
/* كلاس جافاسكربت  */
.filter-by-region.filter-height{
    height: 300px  !important;
}
.main-page header .filter-by-region .filter-head{
    background-color: var(--primaryC);
    padding: 10px;
    width: 102px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-page header .filter-by-region ul{
    background-color: var(--primaryC);
    height: fit-content;
    margin-top: 10px;
    box-shadow: 0 0 1px 1px #cbcbcb;
}
.main-page header .filter-by-region ul li{
    padding: 10px;
    text-align: center;
    
}
.countries  .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(213px, 1fr));
    gap: 40px;
}
.countries  .container .box{
    width: 240px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #d7c8c8;
    margin: auto;
    cursor: pointer;
}

.countries  .container .box :is(h2,h4){
    padding: 10px 15px;
}
.countries  .container .box img{
    width: inherit;
    height: 140px;
    border-radius: inherit;
}

/* details ...............................................*/
.main-page .details{
    height: 500px;
    position: relative;
}
.main-page .details div .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* .main-page .details .container >div{
    height: 200px;
} */
.main-page .details .container >div{
    
}
.main-page .details .container >div:first-child{
    width: 45%;
}
.main-page .details .container >div:first-child img{

}
.main-page .details .container .detail-content{
    width: 45%;
}
.main-page .back{
    position: absolute;
    top: 10%;
    left: 10%;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--primaryC);
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.main-page .details .container >div p{
    font-size: 16px;
}
.main-page .details .container span{
    padding: 5px;
}